@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">🐕 Animal Shelter 🐈</h1>
    <p>See our list of <a href="/dogs">dogs</a> / <a href="/cats">cats</a> currenly available for adoption.</p>
</div>
