@{
    ViewData["Title"] = "Cats";
}

<h1>Cats in search of their furever home:</h1>

<ol>
@foreach (Cat cat in Model)
{
  <li><a href="/Cats/Details/@(cat.CatId)"><strong>@cat.Name</strong></a> | (@cat.Sex) </li>
}
</ol>

<p>@Html.ActionLink("Register New Cat", "Create")</p>